<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>htpasswdapp.com</title>
    <link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type='text/css' />
  </head>

  <body>
    <div id="container">
      <h1>htpasswdapp dot com</h1>
      <div id="page">
        <%= yield %>
      </div>
      <p id="footer">&copy; 2009 <a href="http://www.workingwithrails.com/person/6666-justin-pease">Justin Pease</a></p>
    </div>
  </body>
</html>
